# Ignore all CSVs by default
*.csv

# But track sample CSV for GitHub
!data/sample_addresses.csv

# Ignore outputs folder
outputs/

# PyCharm files
.idea/
*.iml

# Python cache
__pycache__/
*.pyc
*.pkl
*.shp
*.shx
*.dbf
*.prj
*.cpg

# Environment variables
.env